/*************************************************************
 * General
 *************************************************************/

body{
	font-family: Text;
	overflow: hidden;
}

/*************************************************************
 * Squad Area
 *************************************************************/

div#squad{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	
	background-image: url("../gfx/Hintergrund.jpg");
	background-color: ghostwhite;
	background-size: 100%;
	
	overflow: hidden;
	
	z-index: 100;
}

div#squad img{
	position: absolute !important;
	
	top: 120px;
	left: 50px;
	
	height: 5cm;
	border-radius: 2mm;
}

div#squad img.rebellion, div#squad img.empire, div#squad img.scum {
	height: 7cm;
}


@media only screen and (min-width : 1600px){
	div#squad img{
		height: 6cm;
	}
	
	div#squad img.rebellion, div#squad img.empire, div#squad img.scum {
		height: 8cm;
	}
} 



/*************************************************************
 * Navigation Area
 *************************************************************/

#addMenu {
	position: absolute;
	
	top: 0px;
	left: 0px;
	
	height: 50px;
	
	z-index: 200;
	
	border-bottom-right-radius: 20px;
	
	line-height: 50px;
	padding: 15px;
	color: white;
	font-family: Text;
	font-size: 18pt;
	text-align: center;
	background-color: slategray;
	
	/*transition: all 0.25s ease-out;
	-webkit-transition: all 0.25s ease-out;*/
	
	/*box-shadow: inset rgb(52, 52, 52) -2px -2px 2px;*/
}

#addMenu img{
	width: 50px;
	margin-right: 10px;
	vertical-align: middle;
	border-radius: 25px;
}

#addMenu img.open{
	box-shadow: white 0 0 0 4px;
}

#pointsArea{
	display: inline-block;
	width: 4em;
	height: 50px;
	background-color: white;
	color: slategray;
	vertical-align: baseline;
	
	border-radius: 10px;
	/*box-shadow: inset rgb(52, 52, 52) 2px 2px 2px;*/
}

#pointsArea span{
	vertical-align: sub;
}

.removeIndicator{
	box-shadow: 0px 0px 0px 2mm rgba(255,0,0,0.5);
}

/*************************************************************
 * Menus
 *************************************************************/

.menu, .submenu {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	
	display: none;
	
	padding: 35px;
	padding-top: 115px;
}

.menu{
	z-index: 150;
}

.submenu{
	display: block;
	background-color: inherit;
	z-index: 300;
}

.closeButton{
	position: absolute;
	
	top: 0px;
	right: 0px;
	
	width: 50px;
	height: 50px;
	
	border-bottom-left-radius: 20px;
	
	line-height: 50px;
	padding: 15px;
	color: white;
	font-family: Text;
	font-size: 18pt;
	text-align: center;
	background-color: slategray;
}

.menu.open{
	display: block;
}

.menu table{
	display: inline-table;
	background-color: rgba(0,0,0,0.5);
	width: 100px;
	height: 100px;
	text-align: center;
	text-align: center;
	vertical-align: middle;
	border-radius: 5px;
	color: white;
	margin: 10px;
	font-size: 10px;
	border-collapse: collapse;
}

.menu table tr:first-child td{
	background-position: top center;
	background-size: 126%;
	border-radius: 5px;
	height: 50px;
}


@media only screen and (min-width : 1600px){
	.menu table{
		width: 150px;
		height: 150px;
		margin: 15px;
		font-size: 15px;
	}
	
	.menu table tr:first-child td{
		height: 75px;
	}
}


.submenu .entry{
	display: inline-block;
	margin: 15px;
}

.submenu .entry img{
	display: block;
	width: 100px;
	height: auto;
	border-radius: 5px;
}

@media only screen and (min-width : 1600px){
	.submenu .entry img{
		width: 150px;
	}	
}

.submenu .entry.disabled .number{
	background-color: maroon;
}

.submenu .entry .number{
	display: block;
	text-align: center;
	font-family: Text;
	color: white;
	margin-top: 5px;
	
	display: block;
position: relative;
top: -37px;
border-radius: 50px;
border: 2px solid white;
background: black;
width: 25px;
height: 25px;
line-height: 30px;
text-align: center;
left: 7px;
box-shadow: inset white 0 0 10px 0;
}

#empire.menu{
	background-color: rgba(115, 118, 117, 0.5);
}

#empire.menu > table{
	background-color: rgba(7, 7, 9, 0.75);
}

#rebellion.menu{
	background-color: rgba(236, 235, 228, 0.5);
}

#rebellion.menu > table{
	background-color: rgba(173, 29, 33, 0.75);
}

#scum.menu{
	background-color: rgba(64, 38, 23, 0.5);
}

#scum.menu > table{
	background-color: rgba(232, 178, 90, 0.75);
}

#upgrade.menu{
	background-color: rgba(18, 22, 17, 0.5);
}

#upgrade.menu > table{
	background-color: rgba(239, 187, 99, 0.75);
}

/*
@media only screen and (orientation:portrait) {
	nav{
		width: 650px;
	}
	
	nav img{
		width: 83px;
	}
}

@media only screen and (orientation:landscape) {
	nav{
		width: 900px;
	}
	
	nav img{
		width: 87px;
	}
}

*/












.open{
	visibility: visible;
	/*transition: all 0.25s ease-out;
	-webkit-transition: all 0.25s ease-out;*/
}







/*************************************************************
 * Fonts
 *************************************************************/

@font-face{
	font-family: Text;
	src: url("../fnt/EUROSTILELTSTD.OTF");
}

@font-face{
	font-family: Text;
	src: url("../fnt/EUROSTILELTSTD-BOLD.OTF");
	font-weight: bold;
}

@font-face{
	font-family: Text;
	src: url("../fnt/EUROSTILELTSTD-OBLIQUE.OTF");
	font-style: italic;
}

@font-face{
	font-family: Text;
	src: url("../fnt/EUROSTILELTSTD-BOLDOBLIQUE.OTF");
	font-weight: bold;
	font-style: italic;
}

@font-face{
	font-family: Title;
	src: url("../fnt/SF DISTANT GALAXY.TTF");
}

@font-face{
	font-family: Title;
	src: url("../fnt/SF DISTANT GALAXY ITALIC.TTF");
	font-style: italic;
}

@font-face{
	font-family: Intro;
	src: url("../fnt/BEBASNEUE.OTF");
}

@font-face{
	font-family: FontAwesome;
	src: url("../fnt/fontawesome-webfont.woff");
}